#page-not-found {
    background-color: $primary;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15em;

    * {
        max-width: 95%;
    }

    .error-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    h2 {
        color: $secondary;
        font-weight: bold;
        font-size: 250px;
    }

    p {
        text-align: center;
        color: $secondary;
        font-size: 36px;
        font-weight: 500;
    }

    a {
        color: $secondary;
        font-size: 24px;
    }
}

@media screen and (max-width: 769px){
    #page-not-found {
        gap: 10em;
        h2 {
            font-size: 150px;
        }
        p {
            font-size: 24px;
        }
        a {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 426px){
    #page-not-found {
        gap: 10em;
        h2 {
            font-size: 100px;
        }
        p {
            font-size: 18px;
            text-align: center;
        }
        a {
            text-align: center;
            font-size: 18px;
        }
    }
}