.gallery-cards {
    background-color: #FFFFFF;

    .wrap-card {
        gap: 50px;
        width: 95%;
        background-color: rgb(240, 240, 240);
        border-radius: 15px;
        margin-bottom: 35px;
        padding: 50px 0;
    
        h3 {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }
}

@media screen and (max-width: 769px) {
    .gallery-cards {
        .wrap-card {
            padding: 15px 0;
            margin: 15px 0;
            gap: 15px;

            a {
                width: min-content;
            }
        }
    }
}

@media screen and (max-width: 426px){
    .gallery-cards {
        .wrap-card {
            margin: 0;
            gap: 15px;
            background-color: $primary;

            a {
                width: 100%;
            }
        }
    }   
}