.card {
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 10px;

    h3 {
        z-index: 100000000;
        color: white;
    }

    img {
        border-radius: inherit;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: 10000;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(0,0,0,0.1) 65%, rgba(0,0,0,0.9));
        border-radius: inherit;
    }
}

@media screen and (max-width: 426px){
    .card {
        height: 300px;
        width: 100%;
        border-radius: 10px; 
    }    
}