footer {
    background-color: $ternary;
    color: $primary;

    .footer__wrap {
        height: 200px;

        h3 {
            width: 120px;

            img {
                width: inherit;
                filter: brightness(0) invert(1);
            }
        }

        p {
            margin-top: 50px;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 426px){
    footer {
        margin-top: 15px;
        .footer__wrap {
            h3 {
                width: 80px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    
}