.gallery {
    background-color: $primary;
    margin-top: 40px;
    margin-bottom: 35px;
    height: 410px;

    
    
    .gallery__wrap {
        position: relative;
        margin: auto;
        max-width: 1240px;
        overflow: hidden;
        height: inherit;
        width: 100%;
        border-radius: 20px;
    }

    .gallery__container {
        display: flex;
        height: inherit;
        width: inherit;
        transition: transform 0.5s ease-in-out;
    }
    
    .gallery__slide {
        width: inherit;
        flex-shrink: 0;
        object-fit: cover;
    }

    #arrowLeft, #arrowRight {
        position: absolute;
        display: inline-block;
        height: 5em;
        width: 5em;
        z-index: 100000000000;
        color: $primary;
    }

    #arrowLeft {
        top: 50%;
        transform: translateY(-50%);
        left: 2em;
    }

    #arrowRight {
        top: 50%;
        transform: translateY(-50%);
        right: 2em;
    }

    .number-image-current {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 24px;
        font-size: 32px;
        color: $primary;
    }
}