header {
    background-color: $primary;

    .header__wrap {
        margin-top: 35px;
        margin-right: auto;
        margin-left: auto;
        width: 1240px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
            display: flex;

            li a {
                text-decoration: none;
                font-size: 24px;
                margin: 0 25px;
                color: $secondary;
            }

            li a.active {
                border-bottom: 2px solid red;
            }
        }
    }
}