header {
    background-color: $primary;

    .header__wrap {
        margin-top: 35px;
        width: 1240px;

        nav ul {
            li a {
                text-decoration: none;
                font-size: 24px;
                margin: 0 25px;
                color: $secondary;
            }

            li a.active {
                border-bottom: 2px solid red;
            }
        }
    }
}

@media screen and (max-width: 769px){
    header {
        .header__wrap {
            width: 95%;
            nav ul {
                li a {
                    font-size: 18px;
                    margin: 0 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 426px){
    header {
        .header__wrap {
            margin: 15px 0;
            img {
                width: 145px;
            }
            nav ul {
                li {
                    width: max-content;
                    a {
                        font-size: 12px;
                        margin: 0 5px;
                        text-transform: uppercase;

                        &.active {
                            border-bottom: 1px solid red;
                        }
                    }
                }
            }
        }
    }
}
