.thumbnail {
    background-color: $primary;
    margin-top: 35px;
    margin-bottom: 25px;

    .wrap-thumbnail {
        position: relative;
        width: 1250px;
        margin: auto;
        object-fit: cover;
        height: 200px;
        border-radius: 15px;
        text-align: center;
        color: $primary;

        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: inherit;
        }

        h2 {
            position: absolute;
            z-index: 10000;
            font-size: 48px;
            font-weight: 500;
            width: max-content;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba($color: $ternary, $alpha: 0.3);
            border-radius: inherit;
        }
    }
}

@media screen and (max-width: 769px) {
    .thumbnail {
        .wrap-thumbnail {
            width: 95%;
            height: 175px;

            img {
                width: 100%;
            }

            h2 {
                font-size: 40px;
                width: 95%;
            }
        }
    }
    
}

@media screen and (max-width: 426px){
    .thumbnail {
        margin-top: 0;
        margin-bottom: 15px;
        .wrap-thumbnail {
            width: 95%;
            height: 150px;
            margin: 0;

            img {
                width: 100%;
            }

            h2 {
                left: 20px;
                text-align: start;
                font-size: 25px;
                width: 228px;
            }
        }
    }
}