.thumbail {
    background-color: $primary;
    margin-top: 35px;
    margin-bottom: 25px;

    .wrap-thumbail {
        position: relative;
        width: 1250px;
        margin: auto;
        object-fit: cover;
        height: 200px;
        border-radius: 15px;
        text-align: center;
        color: $primary;

        img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            border-radius: inherit;
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000;
            font-size: 48px;
            font-weight: 500;
            width: max-content;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba($color: $ternary, $alpha: 0.3);
            border-radius: inherit;
        }
    }

}