header {
    display: flex;
    justify-content: center;
    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
            display: flex;
        }
    }
}

.thumbnail {
    display: flex;
    justify-content: center;

    .wrap-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.gallery-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__wrap {
    display: flex;
    align-items: center;
}

.accommodation__host {
    display: flex;
    justify-content: flex-end;

    .full-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

.tag__container {
    display: flex;
}

.rating {
    display: flex;
    justify-content: flex-end;
}

.collapse__wrap {
    display: flex;
    justify-content: space-between;

    .collapse__item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.wrap-about .collapse__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
    }

    .gallery-cards {
        display: flex;
        justify-content: center;
        .wrap-card {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .gallery {
        display: flex;
        justify-content: center;
    }

    .accommodation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collapse__wrap {
        display: flex;
        flex-direction: column;
    }
   
}

@media screen and (max-width: 426px) {
    header {
        display: flex;
        justify-content: center;
    }

    .thumbnail {
        display: flex;
        justify-content: center;
    }

    .gallery-cards {
        display: flex;
        justify-content: center;
        .wrap-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .gallery {
        display: flex;
        justify-content: center;
    }

    .accommodation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .collapse__wrap {
        display: flex;
        flex-direction: column;
    }
}
